html
    head
        link(href="styles.css" rel="stylesheet")
        title Duel-Lingo
    body
        .content
            h1 Duel-Lingo
            .inputArea
                form(action="/duel" method="get")
                    .usernameInput
                        label Username 1
                        input(type="text" name="user1")
                    .usernameInput
                        label Username 2
                        input(type="text" name="user2")
                    button.duel-button Duel!
            .outputArea
                .leaderboard
                    h2 Leaderboard
                    ol
                        li
                            span= topUsersName
                            span.xp= topUsersScore && topUsersScore + ' XP' || ''
                        li
                            span= secondUsersName
                            span.xp= secondUsersScore && secondUsersScore + ' XP' || ''
                .dates= dates && 'Start Date: ' + dates

