extends ../layout

block body
  .content
    h1 Duel-Lingo
    .outputArea
      .leaderboard
        h2 Leaderboard
        table.table
          tr
            th User
            th Improvement
          tr
            td
              a(href= '/user/duels/' + topUserName)= topUserName
            td= topUserScore + ' XP'
          tr
            td
              a(href= '/user/duels/' + secondUserName)= secondUserName
            td= secondUserScore + ' XP'
      .dates
        p= 'Start Date: ' + date.toDateString()
        p Come back in a day to see who is $5 richer and smarter!
      .buttons
        a(href="/duel/new").duel-button Start new duel!
